#{extends 'main.html' /} #{set title:'Donation' /} #{include
'AdminNav.html' /}
<h1 class="ui inverted grey block header">Welcome Admin</h1>
<h3 class="ui inverted grey block header">View Reports on Users and
	Candidates</h3>

<section class="ui form segment">
	<div class="ui column center aligned">
		<div class="ui row">
			<div class="ui column">
				<h1 class="ui inverted teal block header">Users</h1>
				<table id="myTable" class="ui table tablesorter segment">
					<thead>
						<tr>
							<th>Id</th>
							<th>Donors</th>
							<th>Address</th>
							<th>Email</th>
							<th>Age</th>
							<th>Location</th>
							<th>Are they US citizen</th>
						</tr>
					</thead>
					<tbody>
						#{list items:AdminlessResults, as:'user'}
						<tr>
							<td>${user.id}</td>
							<td>${user.firstName}&nbsp${user.lastName}</td>
							<td>${user.country}</td>
							<td><a href="mailto:${user.email}">${user.email}</a></td>
							<td>${user.age}</td>
							<td>${user.addressLine1}&nbsp,${user.addressLine2}&nbsp,${user.postcode}&nbsp,${user.townCity}.</td>
							<td>${user.usaCitizen}</td>
						</tr>
						#{/list}
					</tbody>
				</table>
			</div>
			<br> <br>
			<div class="ui column">
				<h1 class="ui inverted teal block header">Candidates</h1>
				<table id="myTableCandidate" class="ui table tablesorter segment">
					<thead>
						<tr>
							<th>Id</th>
							<th>Candidate Name</th>
							<th>Address</th>
							<th>Email</th>
							<th>Country</th>
						</tr>
					</thead>
					<tbody>
						#{list items:candidates, as:'candidate'}
						<tr>
							<td>${candidate.id}</td>
							<td>${candidate.candfirstName}&nbsp${candidate.candlastName}</td>
							<td>${candidate.officeAddress},&nbsp${candidate.postcode},&nbsp${candidate.townCity}.</td>
							<td><a href="mailto:${candidate.email}">${candidate.email}</a></td>
							<td>${candidate.country}</td> #{/list}
						</tr>
					</tbody>
				</table>
			</div>

			<br> <br>
			<div class="ui column">
				<h1 class="ui inverted teal block header">Candidates Office</h1>
				<table id="myTableOffice" class="ui table tablesorter segment">
					<thead>
						<tr>
							<th>Id</th>
							<th>Candidate</th>
							<th>Address</th>
							<th>Email</th>
							<th>Country</th>
							<th>Office</th>
						</tr>
					</thead>
					<tbody>
						#{list items:office, as:'candidate'}
						<tr>
							<td>${candidate.targetCandidate.id}</td>
							<td>${candidate.targetCandidate.candfirstName}&nbsp${candidate.targetCandidate.candlastName}</td>
							<td>${candidate.targetCandidate.officeAddress},&nbsp${candidate.targetCandidate.postcode},&nbsp${candidate.targetCandidate.townCity}.</td>
							<td><a href="mailto:${candidate.targetCandidate.email}">${candidate.targetCandidate.email}</a></td>
							<td>${candidate.targetCandidate.country}</td>
							<td>${candidate.officeName}</td> #{/list}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</section>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#myTable").tablesorter({
            theme: 'blue',
            // initialize zebra striping of the table
            widgets: ["zebra"],
            // change the default striping class names
            // updated in v2.1 to use widgetOptions.zebra = ["even", "odd"]
            // widgetZebra: { css: [ "normal-row", "alt-row" ] } still works
            widgetOptions : {
              zebra : [ "normal-row", "alt-row" ]
            }
          }); 
    } 
); 
</script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#myTableCandidate").tablesorter({
            theme: 'blue',
            // initialize zebra striping of the table
            widgets: ["zebra"],
            // change the default striping class names
            // updated in v2.1 to use widgetOptions.zebra = ["even", "odd"]
            // widgetZebra: { css: [ "normal-row", "alt-row" ] } still works
            widgetOptions : {
              zebra : [ "normal-row", "alt-row" ]
            }
          }); 
    } 
); 
</script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#myTableOffice").tablesorter({
            theme: 'blue',
            // initialize zebra striping of the table
            widgets: ["zebra"],
            // change the default striping class names
            // updated in v2.1 to use widgetOptions.zebra = ["even", "odd"]
            // widgetZebra: { css: [ "normal-row", "alt-row" ] } still works
            widgetOptions : {
              zebra : [ "normal-row", "alt-row" ]
            }
          }); 
    } 
); 
</script>
<script>$('.ui.selection.dropdown').dropdown('hidden');</script>
