#{extends 'main.html' /} #{set title:'Donation' /} #{include 'nav.html'
/}
<body onunload="javascript: poperror()">
	<form action="/donation/donate" method="POST"
		onsubmit="return validateDonation()">
<section class="ui form  segment">
<h1 class="ui inverted teal block header">Welcome ${user.firstName}</h1>
<h3 class="ui inverted black block header">Please give generously</h3>
	<div class="ui three column grid segment center aligned">
		<div class="ui row">
			<div class="column">
			<div class="ui column center aligned">
			<h4 class="ui inverted teal block header">Select Amount</h4>

					<div class="ui selection dropdown">
						<input name="amountDonated" type="hidden" id="amount">
						<div class="default text">Amount</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							<!-- <div class="item" data-value="0">$0</div> -->
							<div class="item" data-value="100">$100</div>
							<div class="item" data-value="500">$500</div>
							<div class="item" data-value="1000">$1000</div>
							<div class="item" data-value="5000">$5000</div>
						</div>
					</div>
					</div>
					</div>
					<div class="column">
			<div class="ui column center aligned">
			<h4 class="ui inverted teal block header">Select Method</h4>
							<div class="ui selection dropdown">
								<input name="methodDonated" type="hidden" id="method">
								<div class="default text">Method to pay</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value="paypal">Paypal</div>
									<div class="item" data-value="direct">Direct</div>
									<div class="item" data-value="brown envelope">Under the
										table</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
			<div class="ui column center aligned">
			<h4 class="ui inverted teal block header">Select Candidate</h4>

							<div class="ui selection dropdown">
								<input name="id" type="hidden" id="candidateCheck">
								<div class="default text">Candidate Select</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									#{list items:user.supporters, as:'support'}
									<div class="item" data-value="${support.targetUser.id}">${support.targetUser.candfirstName}&nbsp${support.targetUser.candlastName}</div>
									#{/list}
								</div>
							</div>

						</div>
					</div>
					</div>
					</div>

<br>
<br>

	<div style="text-align:center">  
							<button  type="submit" class="ui huge blue submit button" >Submit</button>
							</div>

					</section>
	</form>
<script>$('.ui.selection.dropdown').dropdown('hide');</script>
<script>
function poperror() {
    alert("Thank you for donating!");
);
}
</script>
</body>