#{extends 'main.html' /} #{set title:'Welcome' /} #{include 'nav.html'
/}
<section class="ui form segment">
<h1 class="ui inverted teal block header">Welcome ${user.firstName}</h1>
<h3 class="ui inverted black block header">Please select who to support</h3>
	<div class="ui two column grid segment">
		<div class="ui row">
			<div class="ui column">
				<div class="ui column center aligned">
					<div class="field">
			<h3 class="ui inverted teal block header">Select Candidate</h3>
			<div class="ui list">
				#{list items:candidates, as:'candidate'}
				<div class="item">
					${candidate.candfirstName}&nbsp${candidate.candlastName} <i class="large plus sign icon"></i><a
						href="/profile/follow/${candidate.id}"> (I support) </a>
				</div>
				#{/list}
			</div>
		</div>
	</div>
	</div>
	<div class="column">
			<div class="ui column center aligned">
				<h3 class="ui inverted teal block header">Who I support (${user.supporters.size()})</h3>
				<div class="ui list">
					#{list items:user.supporters, as:'support'}
					<div class="item">
					<a
							href="/Profile/${support.targetUser.id}" >
							${support.targetUser.candfirstName}
							${support.targetUser.candlastName}</a> (<a href="/profile/drop/${support.targetUser.id}"> drop </a>)<i class="large minus sign icon"></i>
					</div>
					#{/list}
				</div>
			</div>
		</div>
	</div>
	</div>
	
	</section>
