#{extends 'main.html' /}
#{set title:'Donation' /}
#{include 'nav.html' /}

<section class="ui form segment">
<h1 class="ui inverted teal block header">Welcome ${user.firstName} to Donations Report</h1>
<div class="ui column center aligned">
		<div class="ui row">
			<div class="ui column">
				<h3 class="ui inverted teal block header">Report table</h3>
		 <table  id="myTable" class="ui table tablesorter segment">
        <thead>
          <tr>
            <th>Donors</th>
            <th>Address</th>
            <th>Email</th>
            <th>Age</th>
            <th>Amount($)</th>
            <th>Method donated</th>
            <th>Donatee Party</th>
            
          </tr>
        </thead>
        <tbody>
        #{list items:ageResults, as:'aged'}
          <tr>
            <td>${aged.from.firstName}&nbsp${aged.from.lastName}</td>
            <td>${aged.from.country}</td>
            <td><a href="mailto:${aged.from.email}">${aged.from.email}</a></td>
            <td>${aged.from.age}</td>
            <td>${aged.amountDonated}</td>
            <td>${aged.methodDonated}</td>
            <td>${aged.candidate.candfirstName}&nbsp${aged.candidate.candlastName}</td>
          </tr>
        #{/list}
        </tbody>
      </table>
      </div>
      </div>
      </div>	
	<br>
	<br>
<div class="ui two column grid segment">
		<div class="ui row">
			<div class="ui column">
				<div class="ui column center aligned">
					<div class="field">
					<h3 class="ui inverted teal block header">Range filter age</h3>
  <form action="/RenderReport/age" method="POST">
      <div class="two fields">
      <div class="field">
        <label>Minimum Age</label>
        <input placeholder="Minimum Age" type="number" name="ageRangeA" id="ageRangeA" value=1 >
      </div>
      <div class="field">
        <label>Maximum Age</label>
        <input placeholder="Maximum Age" type="number" name="ageRangeB" id="ageRangeB" value=100>
      </div>
      </div>
        <button class="ui blue submit button">Submit</button>
  </form>
  </div>
</div>
</div>
			<div class="ui column center aligned">
				<h3 class="ui inverted teal block header">Country Filter</h3>
  <form action="/RenderReport/country" method="POST">
						<div class="field">
							<label>Country</label>
							<div class="ui selection dropdown">
								<input name="searchedCountry" type="hidden" id="searchedCountry">
								<div class="default text">Country</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									<div class="item" data-value="">Country...</div>
									<div class="item" data-value="Afganistan">Afghanistan</div>
									<div class="item" data-value="Albania">Albania</div>
									<div class="item" data-value="Algeria">Algeria</div>
									<div class="item" data-value="American Samoa">American
										Samoa</div>
									<div class="item" data-value="Andorra">Andorra</div>
									<div class="item" data-value="Angola">Angola</div>
									<div class="item" data-value="Anguilla">Anguilla</div>
									<div class="item" data-value="Antigua &amp; Barbuda">Antigua
										&amp; Barbuda</div>
									<div class="item" data-value="Argentina">Argentina</div>
									<div class="item" data-value="Armenia">Armenia</div>
									<div class="item" data-value="Aruba">Aruba</div>
									<div class="item" data-value="Australia">Australia</div>
									<div class="item" data-value="Austria">Austria</div>
									<div class="item" data-value="Azerbaijan">Azerbaijan</div>
									<div class="item" data-value="Bahamas">Bahamas</div>
									<div class="item" data-value="Bahrain">Bahrain</div>
									<div class="item" data-value="Bangladesh">Bangladesh</div>
									<div class="item" data-value="Barbados">Barbados</div>
									<div class="item" data-value="Belarus">Belarus</div>
									<div class="item" data-value="Belgium">Belgium</div>
									<div class="item" data-value="Belize">Belize</div>
									<div class="item" data-value="Benin">Benin</div>
									<div class="item" data-value="Bermuda">Bermuda</div>
									<div class="item" data-value="Bhutan">Bhutan</div>
									<div class="item" data-value="Bolivia">Bolivia</div>
									<div class="item" data-value="Bonaire">Bonaire</div>
									<div class="item" data-value="Bosnia &amp; Herzegovina">Bosnia
										&amp; Herzegovina</div>
									<div class="item" data-value="Botswana">Botswana</div>
									<div class="item" data-value="Brazil">Brazil</div>
									<div class="item" data-value="British Indian Ocean Ter">British
										Indian Ocean Ter</div>
									<div class="item" data-value="Brunei">Brunei</div>
									<div class="item" data-value="Bulgaria">Bulgaria</div>
									<div class="item" data-value="Burkina Faso">Burkina Faso</div>
									<div class="item" data-value="Burundi">Burundi</div>
									<div class="item" data-value="Cambodia">Cambodia</div>
									<div class="item" data-value="Cameroon">Cameroon</div>
									<div class="item" data-value="Canada">Canada</div>
									<div class="item" data-value="Canary Islands">Canary
										Islands</div>
									<div class="item" data-value="Cape Verde">Cape Verde</div>
									<div class="item" data-value="Cayman Islands">Cayman
										Islands</div>
									<div class="item" data-value="Central African Republic">Central
										African Republic</div>
									<div class="item" data-value="Chad">Chad</div>
									<div class="item" data-value="Channel Islands">Channel
										Islands</div>
									<div class="item" data-value="Chile">Chile</div>
									<div class="item" data-value="China">China</div>
									<div class="item" data-value="Christmas Island">Christmas
										Island</div>
									<div class="item" data-value="Cocos Island">Cocos Island</div>
									<div class="item" data-value="Colombia">Colombia</div>
									<div class="item" data-value="Comoros">Comoros</div>
									<div class="item" data-value="Congo">Congo</div>
									<div class="item" data-value="Cook Islands">Cook Islands</div>
									<div class="item" data-value="Costa Rica">Costa Rica</div>
									<div class="item" data-value="Cote DIvoire">Cote D'Ivoire</div>
									<div class="item" data-value="Croatia">Croatia</div>
									<div class="item" data-value="Cuba">Cuba</div>
									<div class="item" data-value="Curaco">Curacao</div>
									<div class="item" data-value="Cyprus">Cyprus</div>
									<div class="item" data-value="Czech Republic">Czech
										Republic</div>
									<div class="item" data-value="Denmark">Denmark</div>
									<div class="item" data-value="Djibouti">Djibouti</div>
									<div class="item" data-value="Dominica">Dominica</div>
									<div class="item" data-value="Dominican Republic">Dominican
										Republic</div>
									<div class="item" data-value="East Timor">East Timor</div>
									<div class="item" data-value="Ecuador">Ecuador</div>
									<div class="item" data-value="Egypt">Egypt</div>
									<div class="item" data-value="El Salvador">El Salvador</div>
									<div class="item" data-value="Equatorial Guinea">Equatorial
										Guinea</div>
									<div class="item" data-value="Eritrea">Eritrea</div>
									<div class="item" data-value="Estonia">Estonia</div>
									<div class="item" data-value="Ethiopia">Ethiopia</div>
									<div class="item" data-value="Falkland Islands">Falkland
										Islands</div>
									<div class="item" data-value="Faroe Islands">Faroe
										Islands</div>
									<div class="item" data-value="Fiji">Fiji</div>
									<div class="item" data-value="Finland">Finland</div>
									<div class="item" data-value="France">France</div>
									<div class="item" data-value="French Guiana">French
										Guiana</div>
									<div class="item" data-value="French Polynesia">French
										Polynesia</div>
									<div class="item" data-value="French Southern Ter">French
										Southern Ter</div>
									<div class="item" data-value="Gabon">Gabon</div>
									<div class="item" data-value="Gambia">Gambia</div>
									<div class="item" data-value="Georgia">Georgia</div>
									<div class="item" data-value="Germany">Germany</div>
									<div class="item" data-value="Ghana">Ghana</div>
									<div class="item" data-value="Gibraltar">Gibraltar</div>
									<div class="item" data-value="Great Britain">Great
										Britain</div>
									<div class="item" data-value="Greece">Greece</div>
									<div class="item" data-value="Greenland">Greenland</div>
									<div class="item" data-value="Grenada">Grenada</div>
									<div class="item" data-value="Guadeloupe">Guadeloupe</div>
									<div class="item" data-value="Guam">Guam</div>
									<div class="item" data-value="Guatemala">Guatemala</div>
									<div class="item" data-value="Guinea">Guinea</div>
									<div class="item" data-value="Guyana">Guyana</div>
									<div class="item" data-value="Haiti">Haiti</div>
									<div class="item" data-value="Hawaii">Hawaii</div>
									<div class="item" data-value="Honduras">Honduras</div>
									<div class="item" data-value="Hong Kong">Hong Kong</div>
									<div class="item" data-value="Hungary">Hungary</div>
									<div class="item" data-value="Iceland">Iceland</div>
									<div class="item" data-value="India">India</div>
									<div class="item" data-value="Indonesia">Indonesia</div>
									<div class="item" data-value="Iran">Iran</div>
									<div class="item" data-value="Iraq">Iraq</div>
									<div class="item" data-value="Ireland">Ireland</div>
									<div class="item" data-value="Isle of Man">Isle of Man</div>
									<div class="item" data-value="Israel">Israel</div>
									<div class="item" data-value="Italy">Italy</div>
									<div class="item" data-value="Jamaica">Jamaica</div>
									<div class="item" data-value="Japan">Japan</div>
									<div class="item" data-value="Jordan">Jordan</div>
									<div class="item" data-value="Kazakhstan">Kazakhstan</div>
									<div class="item" data-value="Kenya">Kenya</div>
									<div class="item" data-value="Kiribati">Kiribati</div>
									<div class="item" data-value="Korea North">Korea North</div>
									<div class="item" data-value="Korea Sout">Korea South</div>
									<div class="item" data-value="Kuwait">Kuwait</div>
									<div class="item" data-value="Kyrgyzstan">Kyrgyzstan</div>
									<div class="item" data-value="Laos">Laos</div>
									<div class="item" data-value="Latvia">Latvia</div>
									<div class="item" data-value="Lebanon">Lebanon</div>
									<div class="item" data-value="Lesotho">Lesotho</div>
									<div class="item" data-value="Liberia">Liberia</div>
									<div class="item" data-value="Libya">Libya</div>
									<div class="item" data-value="Liechtenstein">Liechtenstein</div>
									<div class="item" data-value="Lithuania">Lithuania</div>
									<div class="item" data-value="Luxembourg">Luxembourg</div>
									<div class="item" data-value="Macau">Macau</div>
									<div class="item" data-value="Macedonia">Macedonia</div>
									<div class="item" data-value="Madagascar">Madagascar</div>
									<div class="item" data-value="Malaysia">Malaysia</div>
									<div class="item" data-value="Malawi">Malawi</div>
									<div class="item" data-value="Maldives">Maldives</div>
									<div class="item" data-value="Mali">Mali</div>
									<div class="item" data-value="Malta">Malta</div>
									<div class="item" data-value="Marshall Islands">Marshall
										Islands</div>
									<div class="item" data-value="Martinique">Martinique</div>
									<div class="item" data-value="Mauritania">Mauritania</div>
									<div class="item" data-value="Mauritius">Mauritius</div>
									<div class="item" data-value="Mayotte">Mayotte</div>
									<div class="item" data-value="Mexico">Mexico</div>
									<div class="item" data-value="Midway Islands">Midway
										Islands</div>
									<div class="item" data-value="Moldova">Moldova</div>
									<div class="item" data-value="Monaco">Monaco</div>
									<div class="item" data-value="Montserrat">Montserrat</div>
									<div class="item" data-value="Morocco">Morocco</div>
									<div class="item" data-value="Mozambique">Mozambique</div>
									<div class="item" data-value="Myanmar">Myanmar</div>
									<div class="item" data-value="Nambia">Nambia</div>
									<div class="item" data-value="Nauru">Nauru</div>
									<div class="item" data-value="Nepal">Nepal</div>
									<div class="item" data-value="Netherland Antilles">Netherland
										Antilles</div>
									<div class="item" data-value="Netherlands">Netherlands
										(Holland, Europe)</div>
									<div class="item" data-value="Nevis">Nevis</div>
									<div class="item" data-value="New Caledonia">New
										Caledonia</div>
									<div class="item" data-value="New Zealand">New Zealand</div>
									<div class="item" data-value="Nicaragua">Nicaragua</div>
									<div class="item" data-value="Niger">Niger</div>
									<div class="item" data-value="Nigeria">Nigeria</div>
									<div class="item" data-value="Niue">Niue</div>
									<div class="item" data-value="Norfolk Island">Norfolk
										Island</div>
									<div class="item" data-value="Norway">Norway</div>
									<div class="item" data-value="Oman">Oman</div>
									<div class="item" data-value="Pakistan">Pakistan</div>
									<div class="item" data-value="Palau Island">Palau Island</div>
									<div class="item" data-value="Palestine">Palestine</div>
									<div class="item" data-value="Panama">Panama</div>
									<div class="item" data-value="Papua New Guinea">Papua New
										Guinea</div>
									<div class="item" data-value="Paraguay">Paraguay</div>
									<div class="item" data-value="Peru">Peru</div>
									<div class="item" data-value="Phillipines">Philippines</div>
									<div class="item" data-value="Pitcairn Island">Pitcairn
										Island</div>
									<div class="item" data-value="Poland">Poland</div>
									<div class="item" data-value="Portugal">Portugal</div>
									<div class="item" data-value="Puerto Rico">Puerto Rico</div>
									<div class="item" data-value="Qatar">Qatar</div>
									<div class="item" data-value="Republic of Montenegro">Republic
										of Montenegro</div>
									<div class="item" data-value="Republic of Serbia">Republic
										of Serbia</div>
									<div class="item" data-value="Reunion">Reunion</div>
									<div class="item" data-value="Romania">Romania</div>
									<div class="item" data-value="Russia">Russia</div>
									<div class="item" data-value="Rwanda">Rwanda</div>
									<div class="item" data-value="St Barthelemy">St
										Barthelemy</div>
									<div class="item" data-value="St Eustatius">St Eustatius</div>
									<div class="item" data-value="St Helena">St Helena</div>
									<div class="item" data-value="St Kitts-Nevis">St
										Kitts-Nevis</div>
									<div class="item" data-value="St Lucia">St Lucia</div>
									<div class="item" data-value="St Maarten">St Maarten</div>
									<div class="item" data-value="St Pierre &amp; Miquelon">St
										Pierre &amp; Miquelon</div>
									<div class="item" data-value="St Vincent &amp; Grenadines">St
										Vincent &amp; Grenadines</div>
									<div class="item" data-value="Saipan">Saipan</div>
									<div class="item" data-value="Samoa">Samoa</div>
									<div class="item" data-value="Samoa American">Samoa
										American</div>
									<div class="item" data-value="San Marino">San Marino</div>
									<div class="item" data-value="Sao Tome &amp; Principe">Sao
										Tome &amp; Principe</div>
									<div class="item" data-value="Saudi Arabia">Saudi Arabia</div>
									<div class="item" data-value="Senegal">Senegal</div>
									<div class="item" data-value="Serbia">Serbia</div>
									<div class="item" data-value="Seychelles">Seychelles</div>
									<div class="item" data-value="Sierra Leone">Sierra Leone</div>
									<div class="item" data-value="Singapore">Singapore</div>
									<div class="item" data-value="Slovakia">Slovakia</div>
									<div class="item" data-value="Slovenia">Slovenia</div>
									<div class="item" data-value="Solomon Islands">Solomon
										Islands</div>
									<div class="item" data-value="Somalia">Somalia</div>
									<div class="item" data-value="South Africa">South Africa</div>
									<div class="item" data-value="Spain">Spain</div>
									<div class="item" data-value="Sri Lanka">Sri Lanka</div>
									<div class="item" data-value="Sudan">Sudan</div>
									<div class="item" data-value="Suriname">Suriname</div>
									<div class="item" data-value="Swaziland">Swaziland</div>
									<div class="item" data-value="Sweden">Sweden</div>
									<div class="item" data-value="Switzerland">Switzerland</div>
									<div class="item" data-value="Syria">Syria</div>
									<div class="item" data-value="Tahiti">Tahiti</div>
									<div class="item" data-value="Taiwan">Taiwan</div>
									<div class="item" data-value="Tajikistan">Tajikistan</div>
									<div class="item" data-value="Tanzania">Tanzania</div>
									<div class="item" data-value="Thailand">Thailand</div>
									<div class="item" data-value="Togo">Togo</div>
									<div class="item" data-value="Tokelau">Tokelau</div>
									<div class="item" data-value="Tonga">Tonga</div>
									<div class="item" data-value="Trinidad &amp; Tobago">Trinidad
										&amp; Tobago</div>
									<div class="item" data-value="Tunisia">Tunisia</div>
									<div class="item" data-value="Turkey">Turkey</div>
									<div class="item" data-value="Turkmenistan">Turkmenistan</div>
									<div class="item" data-value="Turks &amp; Caicos Is">Turks
										&amp; Caicos Is</div>
									<div class="item" data-value="Tuvalu">Tuvalu</div>
									<div class="item" data-value="Uganda">Uganda</div>
									<div class="item" data-value="Ukraine">Ukraine</div>
									<div class="item" data-value="United Arab Erimates">United
										Arab Emirates</div>
									<div class="item" data-value="United Kingdom">United
										Kingdom</div>
									<div class="item" data-value="United States of America">United
										States of America</div>
									<div class="item" data-value="Uraguay">Uruguay</div>
									<div class="item" data-value="Uzbekistan">Uzbekistan</div>
									<div class="item" data-value="Vanuatu">Vanuatu</div>
									<div class="item" data-value="Vatican City State">Vatican
										City State</div>
									<div class="item" data-value="Venezuela">Venezuela</div>
									<div class="item" data-value="Vietnam">Vietnam</div>
									<div class="item" data-value="Virgin Islands (Brit)">Virgin
										Islands (Brit)</div>
									<div class="item" data-value="Virgin Islands (USA)">Virgin
										Islands (USA)</div>
									<div class="item" data-value="Wake Island">Wake Island</div>
									<div class="item" data-value="Wallis &amp; Futana Is">Wallis
										&amp; Futana Is</div>
									<div class="item" data-value="Yemen">Yemen</div>
									<div class="item" data-value="Zaire">Zaire</div>
									<div class="item" data-value="Zambia">Zambia</div>
									<div class="item" data-value="Zimbabwe">Zimbabwe</div>
								</div>
							</div>
						</div>
						<button class="ui blue submit button">Submit</button>
						 </form>
						</div>
 
  </div>
  </div>
  <script type="text/javascript">
$(document).ready(function() 
    { 
        $("#myTable").tablesorter({
            theme: 'blue',
            // initialize zebra striping of the table
            widgets: ["zebra"],
            // change the default striping class names
            // updated in v2.1 to use widgetOptions.zebra = ["even", "odd"]
            // widgetZebra: { css: [ "normal-row", "alt-row" ] } still works
            widgetOptions : {
              zebra : [ "normal-row", "alt-row" ]
            }
          }); 
    } 
); 
</script>
 
</section>
<script>$('.ui.selection.dropdown').dropdown('hide');</script>