#{extends 'main.html' /}
#{set title:'Donation' /}
#{include 'nav.html' /}

<section class="ui segment">

<table id="myTable" class="tablesorter">
   <thead>
     <tr>
     <th>Test1</th>
     <th>Test2</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>1</td>
     <td>1622</td>
    </tr>
    <tr>
     <td>2</td>
     <td>2634</td>
    </tr>
   </tbody>
</table>
		<h4 class="ui inverted header">Donations</h4>
		 <table id="myTable" class="tablesorter">
        <thead>
          <tr>
            <th>Donors</th>
            <th>Address</th>
            <th>Email</th>
            <th>Age</th>
            <th>Amount($)</th>
            <th>Method donated</th>
            <th>Donatee Party</th>
            
          </tr>
        </thead>
        <tbody>
        #{list items:ageResults, as:'donation'}
          <tr>
            <td>${donation.from.firstName}&nbsp${donation.from.lastName}</td>
            <td>${donation.from.country}</td>
            <td><a href="mailto:${donation.from.email}">${donation.from.email}</a></td>
            <td>${donation.from.age}</td>
            <td>${donation.amountDonated}</td>
            <td>${donation.methodDonated}</td>
            <td>${donation.candidate.candfirstName}&nbsp${donation.candidate.candlastName}</td>
          </tr>
        #{/list}
        </tbody>
      </table>
	</section>
	<a class="ui blue submit button" href="/RenderReport"> By Date</a>
	<a class="ui blue submit button" href="/RenderReport/age"> By Age</a>
  <script>
  $(document).ready(function(){
     $('myTable').tablesorter(); // Basic instance of tablesorter.
  });
  </script>
  
  <script type="text/javascript">
$(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
    } 
); 
</script>

<table id="myTable" class="tablesorter">
   <thead>
     <tr>
     <th>Test1</th>
     <th>Test2</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>1</td>
     <td>1622</td>
    </tr>
    <tr>
     <td>2</td>
     <td>2634</td>
    </tr>
   </tbody>
</table>