#{extends 'main.html' /}
#{set title:'Candidate profile Page' /}
#{include 'nav.html' /}

<body onload="javascript: poperror()">
<section class="ui segment">
  <h1 class="ui inverted teal block header">${candidate.candfirstName} ${candidate.candlastName}'s Profile (${candidate.email})</h1>
  <div class="ui grid segment">
  <div class="ui column center aligned">
						<h2 class="ui inverted red block header">Picture</h2>
					<div class="ui medium image">
						<img src="/profile/getpicture/${candidate.id}" />
					</div>
					</div>
					</div>
					<br>
<br>
<h2 class="ui inverted red block header">${candidate.candfirstName} background</h2>
    <div class="ui row">
      <div class="ui column">
      <table class="ui table segment">
          <thead>
            <tr>
              <th>Email</th>
              <th>Country</th>
              <th>Address</th>
              <th>Biograghy</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="mailto:${user.email}">${candidate.email}</a></td>
              <td>${candidate.country}</td>
              <td>${candidate.officeAddress}&nbsp,&nbsp${candidate.postcode}&nbsp,&nbsp${candidate.townCity}</td>
              <td>${candidate.candbio}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <br>
      <br>
      <div class="ui row">
      <div class="ui column">
      <table class="ui table segment">
          <thead>
            <tr>
              <th>Message to my Supporters</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>${candidate.note}</td>
                          </tr>
          </tbody>
        </table>
      </div>
      </div>
      <br>
      <br>
     <div class="ui row">
      <div class="ui column">
		<h2 class="ui inverted red block header">Feedback</h2>
		<table class="ui table segment">
			<thead>
				<tr>
					<th>Sent From:</th>
					<th>Message</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				#{list items:candidate.inbox, as:'message'}
				<tr>
					<td>${message.sender.firstName}</td>
					<td>${message.messageText}</td>
					<td><a href="mailto:${message.sender.email}">${message.sender.email}</a></td>
				</tr>
				#{/list}
			</tbody>
		</table>
</div>
</div>
<br>
<br>        
<div class="ui row">
      <div class="ui column">
        <form action="/Profile/sendmessage/${candidate.id}" class="ui form" method="post">
          <div class="field">
            <textarea name="messageText"></textarea>
          </div>
          <button  class="ui fluid blue labeled submit icon button">
            <i class="icon edit"></i> Send
          </button>
        </form> 
      </div>
      </div>
<br>
<br>
<h2 class="ui inverted red block header">Donations Amount Achieved</h2>
      <div class="ui row">
      <div class="ui column form segment">
		<div class="ui form">
		 <h4 class="ui header">Percentage of donation to Candidate</h4>
         <div class="ui segment">
         <h4 class="ui header">${candidate.candfirstName} ${candidate.candlastName} Amount target achieved</h4>
         <div class="ui successful progress">
         <div class="bar" style="width:${candidate.percentage}%"></div><!--"width:50%" "width:${progress}" --></div>
         </div>
		</div>
	 </div>
    </div>
    
    <br>
    <br>
<div class="ui row center aligned">
      <div class="ui column">
<h2 class="ui inverted red block header">Maps of where Candidate is</h2>
<div class="column center aligned">
      <div id="map_canvas"></div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="@{'/public/javascripts/candidatemap.js'}" type="text/javascript" charset="${_response_encoding}"></script>
      </div>
      </div>
      <div class="ui row center aligned">
      <div class="ui column">
      <h4 class="ui header">Coordinates of Candidate</h4>
						<label>Longitude </label>
						<input type="text" id="lng" name="lng"
							value="${candidate.lng}" readonly class="input-medium">
							<label>Latitude </label>
						<input type="text" id="lat" name="lat"
							value="${candidate.lat}" readonly class="input-medium">
					</div>
					</div>
					<br>
					<br>
    </div>    
    <div class="ui row center aligned">
      <div class="ui column">
<h2 class="ui inverted red block header">Maps of where Candidate is</h2>
      
      <div class="ui row center aligned">
      <div class="ui column">
      <h4 class="ui header">Total sum of Candidate</h4>
						<label>sum of Candidate</label>
						<input type="text" id="" name="total"
							value="${total}" readonly class="input-medium">
							<label> </label>
						<input type="text" id="lat" name="lat"
							value="${candidate.donationRange}" readonly class="input-medium">
					</div>
					</div>
					</div>
					<br>
					<br>
    </div>    
</section>

<script>
function poperror() {
    alert("The Donation target Has been Achieved! Thanks for your gesture");
}
</script>
</body>