#{extends 'main.html' /} #{set title:'Welcome from the Man' /} #{include
'navLogout.html' /}

<section class="ui form segment">
	<div class="ui two column grid segment">
		<div class="ui row">
			<div class="ui column">
				<h1 class="ui inverted teal block header">Welcome</h1>

				<div class="ui column center aligned">
					<div class="field">
						<h3 class="ui inverted teal block header">Introduction</h3>
									<p>
										<i> Homer for president. </i>
									</p>
									<p>
										<i>Time for a change</i>
									<p>Out with Boring Abamo.</p>
									<p>Giving has never been so easy.</p>
									<p>
										You may register <a href="/signup">here</a> absolutely free of
										charge.
									<p>
										If aleady registered just click <a href="/login">here</a> to
										log in.
									</p>
									<p>Then go to the Donation page and empty your wallet</p>
					</div>
				</div>
			</div>
			<div class="ui column center aligned">
				<img src="/public/images/homer.gif">
			</div>
		</div>
	</div>
</section>
